@import '../../../../vars';

.ship-floor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  border: 1px solid $grey-light;
  padding: 1em;

  &__name {
  }

  &__grid {
    display: flex;
  }

  &__plane {
    grid-column: 1/3;
  }

  &__rooms-list {
    grid-column: 1/4;
  }
}

