
.edit-ship-floor {
	border: 1px solid #ddd;
	padding: 1em;
	grid-gap: 1em;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	
	&__rowscols {
		display: inline-flex;
		
		> div:last-child {
			padding-left: 35px;
		}
	}
	
}

.floor-grid {
	&-options {
		grid-column: 1/4;
		
		> div {
			display: flex;
			flex-direction: column;
			
			> div {
				&:not(.floor-grid) {
					display: flex;
					justify-content: center;
				}
				
				&.floor-grid{
					display: flex;
					vertical-align: middle;
				}
			}
		}
	}
	
	position: relative;
	margin: 10px;
	&__overlay {
		position: absolute;
		z-index: 2;
	}
}

