.ships-list {

}

.ships-list-table {
  &__title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    background-color: #ddd;
    border: 1px solid #ddd;

    > div {
      background-color: white;
      padding:5px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px;
    background-color: #ddd;
    border: 1px solid #ddd;

    > div {
      background-color: white;
      padding: 5px;
    }
  }
}
